// Custom display definitions
// ==========================================================================

.hazard-day{
  width: 18%; 
  display: inline-block;
}


.hazard-history{ 
  margin: 5px; 
  border: 1px solid #eaeaea;
}