/*
// Custom display definitions
// ==========================================================================
*/

@font-face {
font-family: "Futura Light BT";
font-style: normal;
font-weight: normal;
src: local('Futura Light BT'), url('../fonts/Futura Light BT.woff') format('woff');
}

html{
	font-family: "Futura Light BT","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
}

body{
	background: #d8dde4 url('/images/gnfac-bg7.jpg')	no-repeat scroll center top;
}

body > .layout-center{
	    padding-left: 3px;
	    padding-right: 3px;
}

body:not(.is-path-frontpage){
	background-image: none;
}

body hr{
	height: 4px;
	background-color: #3a5274;
}

.field--name-body h3{
	margin-top: .2rem;
}

p{
	font-family: 'Futura Light BT' , Arial, sans-serif;
	/*font-family: Futura,Trebuchet MS,Arial,sans-serif;*/
	margin: 1.0rem 0;
}

.jhmap {
    width: 430px;
    height: 420px;
		float: right;
}

.national-map{
	width: auto;
	margin-top: 0;
	display: inline-block;
}

.contact-info{
	width: 230px;
	display: inline-block;
	vertical-align: top;
	margin-left: 20px;
}

.home-ratings-image {
    display: inline;
}

#block-footerinfo{
	background-color: #617490;
	color: #fafafa;
	text-align: center;
}

#block-footerinfo a{
	color: #fafafa;
}

body .footer{
	background-color: #fafafa;
	padding: 1rem 0;
	margin-top: 1.0rem;
	border-top: 4px solid #3a5274;
	
}

.hazard-image{
	vertical-align: top;
}
a img.hazard-image {
	position:relative;
	top: 10px;
}


h1{
	font-size: 1.3rem;
	line-height: 2rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.is-path-advisory article h2{
	display: none	;
}
/*

 formatting for the right column sidebar
  is also the same for the 'hot items list' on homepage.
*/
aside.layout-3col__right-sidebar,
.view-hot-items-list,
.weather-locations{
	background-color: #3a5274;
	padding-left: 25px;
	padding-right: 25px;
	/*padding-top:25px;
  /*margin-right: 12px;*/
}

.weather-locations{
	text-align: center;
}

.view-hot-items-list .views-row
{
	width: 245px;
	margin: 1rem 1rem .5rem auto;
}

aside.layout-3col__right-sidebar .views-row{
}

.weather-locations .views-row{
	width: 375px;
	margin: 1rem 1rem .5rem auto;
	
}

aside.layout-3col__right-sidebar .views-row,
.view-hot-items-list .views-row,
.weather-locations .views-row{
	border: 1px solid #fafafa;
	margin-bottom: 25px;
	background: #9da9ba;
	display: inline-block;
	vertical-align: top;
	max-width: 300px;
}

.weather-locations table.views-field-data td.details.left{
	text-align: left;
	padding-left: 5px;
}

aside.layout-3col__right-sidebar .views-row .views-field-field-image-file {
  background: #fafafa;
}

aside.layout-3col__right-sidebar .views-row .views-field,
.view-hot-items-list .views-row .views-field.
.weather-locations .views-row table.views-field{
	  padding-left: 5px;
	  padding-right: 5px;
		border-bottom: 2px solid #fafafa;
}

.weather-locations .views-row table.views-field-data{
	margin: 0;
	background: #fafafa;
}

.weather-locations table.views-field-data tr{
	border-bottom: 1px solid #9da9ba;
}
.weather-locations .views-field-wx-station-info {
    font-size: .85rem;
}

.weather-locations table.views-field-data td.labels{
	width: 20%;
	text-align: right;
	padding-right: 5px;
}
.weather-locations table.views-field-data td.details{
	font-size: 1.6rem;
	line-height: 2.1rem;
	text-align: center;
}
.weather-locations table.views-field-data .data-sub{
	font-size: 1rem;
}

.views-field.views-field-wx-station-info {
    font-size: .85rem;
}

aside.layout-3col__right-sidebar .views-row .views-field-title,
.view-hot-items-list .views-row .views-field-title,
.view-hot-items-list .views-row .views-field-field-image-file,
.weather-locations .views-row .views-field-title{
	text-align:center;
}

.view-hot-items-list .views-row .views-field-body,
aside.layout-3col__right-sidebar .views-row .views-field-body{
	padding: 0 4px;
}

aside.layout-3col__right-sidebar .views-row .views-field-title a,
.view-hot-items-list .views-row .views-field-title a,
.weather-locations .views-row .views-field a{
	color: #fafafa;
}

.weather-page{
	background-color: #3a5274;
	padding: 15px;
	float: left;
	width: 100%;
}

#weather-stations-map-wrapper{
	border: 10px solid #fafafa;
}
#weather-stations-map{
	height: 400px;
	width: 100%;
}

#block-locationmap{
	margin-top: 2rem;
}

.wx-stations-text{
	padding: 4px;
	background-color: #fafafa;
}

.hazard-day{
	margin: auto;
	display: inline-block;	
	font-size: .62rem;
	margin-right: 2px;
	background-color: #ffffff;
	font-weight: bolder;
	color: #162f50;
}

.hazard-day img{
	height: 60px;
}

.hazard-history {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    background-color: #fafafa;
}

.weather_log{
  width: 30%;
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px;
  border-right: 20px solid white;
  border-left: 20px solid white;
  background-color:#e2e2e2;
}




.jcarousel-skin-default .jcarousel {
    position: relative;
    overflow: hidden;
    height: auto;
}

.two-col .jcarousel-wrapper.jcarousel-skin-default{
	height: 450px;
	width: 700px;
	overflow: hidden;
	border-radius: 0px;
}

.two-col.firsty.snowpits .jcarousel-wrapper.jcarousel-skin-default{
	height: 330px;
	width: 680px;
	overflow: hidden;
}

.two-col.secondy .jcarousel-wrapper.jcarousel-skin-default {
    width: 350px;
		height: 225px;
}

/*from jcarousel defaults
*/

.two-col.firsty .jcarousel-skin-default .jcarousel li {
    float: left;
    width: 330px;
    height: 450px;
		padding-right: 8px;
		padding-left: 8px;
		border-right: 1px solid #9da9ba;
}

.two-col.secondy .jcarousel-skin-default .jcarousel li {
    float: left;
    width: 330px;
    height: 490px;
    margin-right: 1px;
}

.is-path-advisory .jcarousel-skin-default .jcarousel-control-prev,.is-path-advisory .jcarousel-skin-default .jcarousel-control-next {
    position: absolute;
    top: 160px;
    width: 50px;
    height: 50px;
    text-align: center;
  background-color: rgba(55,55,55, .5);    
	color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 65px/50px Arial sans-serif;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}



.photos .jcarousel-skin-default .jcarousel-control-prev, .photos .jcarousel-skin-default .jcarousel-control-next {
  top: 230px;
}

.videos .jcarousel-skin-default .jcarousel-control-prev, .videos .jcarousel-skin-default .jcarousel-control-next {
  top: 115px;
}

.snowpits .jcarousel-skin-default .jcarousel-control-prev, .snowpits .jcarousel-skin-default .jcarousel-control-next {
  top: 140px;
}


.jcarousel-skin-default .jcarousel-control-prev {
    left: -10px;
}

.jcarousel-skin-default .jcarousel-control-next {
    right: -10px;
}

#seven-day-forecast{
	background: #fafafa;
}
#seven-day-forecast .panel-heading{
  color: #fafafa;
  background-color: #617490;
  padding: 4px;
}

#seven-day-forecast-list .forecast-tombstone {
    width: 16%; /* percent width for 6 days/nights. change if only showing x days */
    margin-left: auto;
    display: inline-block;
    vertical-align: top;
    margin: 0px auto;
    white-space: normal;
		padding: 0 2px;
		border-right: 1px solid #fafafa;
}
#seven-day-forecast-list {
    position: relative;
    z-index: 2;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

#seven-day-forecast-list .forecast-tombstone > div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.temp.temp-low{
	color: #15a3e0;
}

.temp.temp-high{
	color: #ef3725;
}

.region-group .region{
	display: inline-block;
	padding: 0 10px;
	line-height: 2.5rem;
	height: 40px;
	vertical-align: top;
	margin:0;
	color: #fafafa;
	font-weight: lighter;
	font-size: ;
}
.region-group .region a{
	line-height: 2.5rem;
	color: #fafafa;
	font-weight: lighter;
	
}

.region-group,
body.is-path-advisory article .field--name-body,
body.is-page-node-type-advisory article .field--name-body{
	border-top: 1px solid #bfc6d2;

}

.region-group{
	background: #617490;/* url('/images/gnfac-diagonal.png') no-repeat scroll left top;*/
	margin-top: 35px;
	border-top: 4px solid #162f50;
}

.discussion .field__label + .region-group{
	margin-top:0;
	border-top: none;
}

.hazard-image-main{
	width: auto;
	height: 40px;
}

.small{
	font-size: .7rem;
}
.region.hazard-rating-image{
  padding: 0px;
}


/*  the weather log as it appears on sub-advisory pages"   */"

.view-weather-log.view-display-id-block_1 .views-field-body p{
  margin: 0;
	
}

/* display of weather log on subadvisroy pages */

/* removed to put its functionality along with weather page style format
.view-weather-log.view-display-id-block_1 td.views-field,
.view-weather-log.view-display-id-block_1 th.views-field
  {
    padding: 0 3px;
    border: 1px solid gray;
		vertical-align: top;
		font-size: .7rem;
		line-height: .9rem;
}
*/
/* display of weather log on main weather log page, and subadvisory pages  */


.region_group.warning .region{
	color: #ee1d23;
}

body.is-page-node-type-advisory article h3.warning{
	color: #ee1d23;
	font-size: 1.05rem;
	line-height: 1.25rem;
	margin-top: 0rem;
	margin-bottom: .1rem;
	margin-right: .2rem;
	width: 112px;
	text-align: center;
	padding: 4px;
	border: 1px solid #ee1d23;
	float:left;
	background-color: black;
}

.discussion p{
	margin-right: 0;
	margin-top:0.5rem;
	margin-bottom: 1rem;
}


.group:after {
    content:"";
    display: table;
    clear: both;
}

.firsty, 
.secondy {
    float: none;
    width: auto;
}



.panel-heading > b {
    display: none;
}

.panel-heading h2{
	font-size: .9rem;
	margin: 0;
	line-height: 1rem;
	
}

#seven-day-forecast-list{
	padding-left: 0px;
	margin: 0 auto;
}

.tombstone-container p{
	margin: 0 0 0 0;
}

.tombstone-container p {
    margin: 0;
    font-size: .7rem;
    line-height: .8rem;
}
.tombstone-container p.short-desc, .tombstone-container p.temp{
	margin-top: 3px;
} 
.tombstone-container p.period-name{
	margin-bottom: 3px;
}

.point-forecast h3,
.forecasters-choice h3,
.snowpits h3,
.wx-stations h3,
.photos h3,
.videos h3{
	margin: 5px 0 3px 0;
}

.bottom-problem-container{
	margin-bottom: 5px;
}

.bottom-problem-container,
.weather_logs,
.hazard-history,
.media-blocks,
.point-choice
 {
	
}

.problem-type{
	min-width:150px;
}

h1.page-title,
.view-weather-log table.views-table caption,
h3.advisory.sub-page,
body.is-path-advisory .layout__region--content .field__label,
body.is-page-node-type-advisory .layout__region--content .field__label,
body.is-path-advisory article h3,
body.is-page-node-type-advisory article h3{
    	background: #617490 url('/images/gnfac-diagonal.png') no-repeat scroll left top;
	    color: #fafafa;
	    padding-left: 5px;
	    padding-bottom: 10px;
	    border-top: 5px solid #162f50;
			margin-bottom:0;
			margin-top: .1rem;
			font-weight: lighter;
			font-size: 1.1 rem;
			text-align: left;
}

#edit-field-advisory-year-wrapper{
	display: none;
	
}

body.is-path-advisory h1.page-title a,
.view-weather-log table.views-table caption a ,
h3.advisory.sub-page a,
body.is-path-advisory .layout__region--content .field__label a,
body.is-page-node-type-advisory .layout__region--content .field__label a{
	color: #fafafa;
	
}

.bottom-problem-container,
.hazard-rating-container,
.current-weather{
  background-color: #9da9ba;
  color: whitesmoke;
}

.current-weather table{
	margin:0;
}


.current-weather table .details,
.bottom-problem-container span.label{
  
	font-weight: bolder;
	color: #162f50;
}
.current-weather > table > tbody > tr >td{
	width: 25%;
	vertical-align:top;
	text-align: center;
  border-top: 1px solid #d8dde4;	
  border-right: 1px solid #d8dde4;
  border-bottom: 1px solid #d8dde4;
	
}

.current-weather > table > tbody > tr > td:last-child{
	border-right:none;
}

.current-weather table th{
  border-top: 1px solid #d8dde4;	
  border-right: 1px solid #d8dde4;	
}
.current-weather table th:last-child{
	border-right:none;
}


.hazard-rating-container{
	text-align: center;
	padding-top: 5px;
}

.hazard-rating-container .regional-hazard-image{
	max-width: 350px;
}

.bottom-problem-container{
	border-top: 1px solid #d8dde4;
	border-bottom: 1px solid #162f50;
	padding: 5px;
}

.current-weather table td table td{
	width: 50%;
	border-top: 1px solid #d8dde3;
}



.current-weather > table > tbody > tr > td:nth-child(2){
  border-right: 1px solid #d8dde4;	
}

.weather_logs caption{
	font-size: 1.25rem;
	line-height: 2.25rem;
	
}

.weather_logs table.views-table{
	margin: .6rem 0;
}

.view-weather-log p{
	margin-top: 0;
}

.weather_logs{
	clear: both;
}

.forecasters-choice .forecasters-image{
	width: 49%;
	display: inline-block;
}

.forecasters-choice blockquote{
	    margin: 0rem 0rem 1.5rem 0rem;
	    border: 2px solid #162f50;
	    border-radius: 4px;
	    padding: 4px;
	
}

.forecasters-choice .fc-text{
	width: 49%;
	display: inline-block;
	vertical-align:top;
}
/* Low Hazard color: #4db748 */

/*high hazard color
#ee1d23
*/
/* Advisory ARchive page formatting */

.view-advisory-archive .views-field-field-weather-1{
	width: 100%;
	vertical-align: top;
	padding-right: 10px;
}

.view-advisory-archive .views-field-advisory-embed-all{
	width:100%;
}

.image-node {
    display: inline-block;
    margin: 10px;
		vertical-align: top;
		max-width: 150px;
		color: #fafafa;
}
.image-node a{
	color: #fafafa;
}
.image-nodes-list {
    background-color: #3a5274;
}

.archive-page-image{
	border: 10px solid #fafafa;
}

/* this may need to be updated yearly to allow the choice of new advisory year tid*/
/*select#edit-field-advisory-year-target-id option:nth-child(n+14) {
    display: none;
}*/

/* needs to go to bartik or garland theme - forecaster form display */

.field--name-field-applicable-regions .form-item{
	display: inline-block;
	padding-right: 15px;
}


.view-media-articles .views-row,
.view-blog-list .views-row,
.view-advisory-archive .views-row
	{
	border-top: 2px solid #162f50;
	margin: 10px 0;
}
.views-field-field-publication{
	font-style: italic;
}

.view-media-articles .views-row	.views-field-title a,
.view-blog-list .views-row .views-field-title a,
.view-advisory-archive .views-row .views-field-title a{
	font-size: 1.3rem;
	text-decoration:none;
	color: white;		
	
}


.view-media-articles .views-field-title,
.view-blog-list .views-field-title{
	background-color: #162f50;
	line-height: 1.25rem; 
	padding: .2rem 1rem;
	border-top: 4px solid #617490;
}
		
.view-media-articles .views-field-field-publication{
	font-style: italic;
	font-size: 18px;		
}			
	

.view-id-blog_list .views-field-uid{
	font-weight: bolder;
}

.view-id-blog_list .views-field-created{
	font-weight: bolder;
}

.view-id-blog_list .views-field-user-picture {
    float: left;
    padding-right: 5px;
}
.view-id-blog_list .views-row{
	min-height: 180px;
}


a.taxonomy-tooltip-link {
    color: #555;
    text-decoration: none;
    cursor: help;
    border-bottom: 1px dotted #555;
}

/* INserted to temporarily hide extra forecast days til we figure out the jcarousel */

#seven-day-forecast-list li.forecast-tombstone:nth-child(n+7) {
    display: none;
}

.avyhzrd-low{
	background-color: #4db748; font-weight: bolder;
	padding-left: 3px; padding-right: 4px;
}

.avayhzrd-moderate{
	background-color: #fef102; font-weight: bolder;
	padding-left: 3px; padding-right: 4px;
	
}

.avayhzrd-considerable{
	background-color: #f8931d; font-weight: bolder;
	padding-left: 3px; padding-right: 4px;
	
}

.avayhzrd-high{
	background-color: #ee1d23; font-weight: bolder;
	padding-left: 3px; padding-right: 4px;
	
}

.avayhzrd-extreme{
	background-color: #000000; font-weight: bolder; color: #ffffff;
	padding-left: 3px; padding-right: 4px;
	
}

#block-gnfac-theme-branding .site-name {
		font-weight: lighter; 
		font-size: 1.0rem;
		text-shadow: 2px 2px 0.5px #162f50;
		width: auto;
}

.site-name a{
	color: #fff;
	text-decoration: none;
}
/*
// Social media block at bottom of page
*/

#block-socialmedia-3{
	display:inline-block;
	vertical-align: top;
	padding: .5rem 1.5rem .5rem 1.5rem;
	border-right: 1px solid #d8dde4;
  min-height: 75px;
}



/* Search theme from Styles.css */

form#search-block-form,
form#search-block-form div{
  display:inline;
  width: 150px;
}
div#block-gnfac-theme-search{
  width: 150px;
  position:relative;
	display: inline-block;
	border-right: 1px solid #d8dde4;
	padding: .5rem 1.5rem;
  min-height: 75px;
  vertical-align: top;
}

#social-media #search .form-search{
  height: 1.3em;
  width: 170px;
	float: left;
}

#block-gnfac-theme-search .form-submit {
	background: transparent url(../../../images/search-button.png) no-repeat scroll right center;
	border: medium none;
	color: rgba(255,255,255,0);
	padding-left: 3px;
	padding-right: 10px;
	text-transform: uppercase;
	width: 46px;
	position: relative;
	left: 56px;
	height: 21px;
	top: -26px;
  
}

/* end from styles */

#block-mainnavigation-5,
#block-mainnavigation-6,
#block-mainnavigation-7{
	display: inline-block;
	
}
#block-mainnavigation-5 + article,
#block-mainnavigation-6 + article,
#block-mainnavigation-7 + article{
	display: inline-block;
	float: right;
}

#block-gnfac-theme-page-title{
	clear: both;
	
}

#block-views-block-hot-items-list-block-1{
	margin: 1rem 0;
}

/*
  photos page and snowpit profiles page formatting
  these two pages use the 'table' display format, the regional displays use 'un-ordered list'
*/

/*  applies to sub-advisosry photos block: */


/*all photos view 
.view-photos.view-display-id-page_1 .view-content,
.view-photos.view-display-id-page_2 .view-content {
    padding: 1rem;
}*/

.view-photos.view-display-id-page_1 .view-content .real-title a,
.view-photos.view-display-id-page_2 .view-content .views-field-title a{
 
	color: #fafafa;

}



.view-photos.view-display-id-page_2 .view-content .views-field-title,
.view-photos.view-display-id-page_1 .view-content .real-title{
	background-color: #162f50;
	font-size: 1.2rem;
	line-height: 1.25rem; 
	padding: .2rem 1rem;
	border-top: 4px solid #617490;
}



.view-photos.view-display-id-page_2 .view-content .views-row{
  max-width: 630px;
	background-color: #fafafa;
}
/*
  begin formatting Photos page list
*/


.view-photos.view-display-id-page_1 .view-content  td.views-field.views-field-field-image-file{
	width: 20%;
	min-width: 140px;
}

.view-photos.view-display-id-page_1 .view-content .real-title{
	
}
.view-photos.view-display-id-page_1 .view-content .real-title{
	border-top: none;
}
.view-photos.view-display-id-page_1 .view-content tr{
	border-top: 4px solid #617490;
}
.view-photos.view-display-id-page_1 .view-content .real-body,
.view-photos.view-display-id-page_1 .view-content .real-date{
	padding-left: 1rem;
}

.view-photos .view-content td{
	vertical-align: top;
}

.view-photos .view-content td img{
}

.mailer-mailer-signup {
    padding: 0px;
		width: 260px;
		margin: 0 auto;
		height: 320px;
}

#block-donatetofriendsofgnfac h2,
#block-adozenmoreturnsdvd h2,
#block-snowsenseaguidetoevaluatingsnowavalanchehazard h2,
#block-kingandqueenoftheridger h2,
#block-payabill h2{
	background-color: #162f50;
	font-size: 1.2rem;
	line-height: 1.25rem; 
	padding: .4rem 1rem;
	border-top: 4px solid #617490;
	color: #fafafa;
}





#cboxNext {
    margin-top: -52px;
    background-position-y: bottom;
    width: 41px;
    height: 95px;
    background-size: 140px;
	}
	#cboxPrevious {
	    margin-top: -52px;
	    background-position-y: bottom;
	    width: 41px;
	    height: 95px;
	    background-size: 140px;
			
	}

#cboxTitle {
    position: absolute;
    bottom: 0px;
    left: 0;
    color: #0f0303;
    padding-left: 20px;
    margin-left: 5px;
    padding-right: 5px;
    margin-right: 5px;
		margin-bottom: 4px;
}
#cboxTitle p{
  margin: .2rem 0;
}

#cboxLoadedContent {
    border: 5px solid #162f50;
}

#block-homepagelinks{
	background: white;
	padding: 5px;
}

#block-sitemissionhomepage{
	    color: white;
	    background-color: #617490;
	    padding: 1px 10%;
			border-top: 2px solid #162f50;
			
}

nav#block-homepagelinks li.menu-item,
ul.button-list li{
	display: inline-block;
	margin: 0 3px;
	border: 1px solid #162f50;
	overflow: hidden;
	background: #617490;
	padding-bottom: 0.2rem;
}

body ul.sf-menu .sf-sub-indicator{
	width: 15px;
	height: 15px;
	text-shadow: 1px 3px 1px #ffffff;
}



ul.sf-menu .sf-sub-indicator::after {
  color: #162f50;
}

ul.button-list {
	padding-left: 0;
	margin: 0.2rem 0;
}

#block-resources,
#block-instagramblock{
	margin:1rem 0;
}

#block-socialmedia-2{
	margin-bottom: 1rem;
}

table.weather-page-details {
    border-color: #3a5274;
    border-width: 10px;
    border-style: solid;
}
table.weather-page-details td{
	padding: 5px;
}

#block-resources h3{
	color: #617490;
	padding-left: 53px;
}

#block-resources h3.weather{
	background: url('../../../images/weather.jpg') scroll no-repeat left center;
	background-size: auto 25px;
	
}

#block-resources h3.education{
	background: url('../../../images/education.png') scroll no-repeat left center;
}

#block-resources h3.placenames{
	background: url('../../../images/google_earth.png') scroll no-repeat left center;
}

#block-resources h3.support{
	background: url('../../../images/dollar-sign.png') scroll no-repeat left center;
	background-size: auto 25px;
}

nav#block-homepagelinks li.menu-item a,
.button-list li a{
  padding: 0 1.5rem;
	color: white;
	text-decoration: none;
}

nav#block-homepagelinks ul.menu{
  text-align: center;
}

#block-instagramblock a{
	display: inline-block;
    padding: 15px 25px;
		vertical-align: top;
}

#block-resources h2,
.block-views-blockhot-items-list-block-1 h2{
	background: #617490 url('/images/gnfac-diagonal.png') no-repeat scroll left top;
	color: white;
	margin: 0px;
	padding: 8px 0 8px 50px;
	border-top: 3px solid #162f50;
	border-bottom: 3px solid #162f50;
	font-weight: lighter;
	
}

#block-instagramblock h2{
	background: transparent url('/sites/all/themes/gnfac_theme/images/icons/Instagram_large.png') no-repeat scroll 4px center;
  background-size: 32px;
	color: white;
	margin: 0px;
	padding: 8px 0 8px 43px;
	border-top: 3px solid #162f50;
	border-bottom: 3px solid #162f50;
	font-weight: lighter;
}

#block-instagramblock{
	background: #617490 url('/images/gnfac-diagonal.png') no-repeat scroll left -65px;
}

.view-frontpage .view-content{
	z-index: 100;
	position: relative;
}

.problem-type-wrapper {
    margin: .2rem .2rem .2rem .2rem;
		padding: 3px;
    color: #162f50;
    background-color: #d8dde4;
    border: 10px solid #fafafa;
}
.bottom-line-wrapper {
    margin: .2rem .2rem .2rem .2rem;
		padding: 3px;
    color: #162f50;
    background-color: #d8dde4;
    border: 10px solid #fafafa;
}


#block-testblock2-2{
	/*float: right;
	width: 34%;
	max-width: 280px;
	*/
}

#block-advisorymenu h2{
  display: none;
 
}

#superfish-advisory-menu{
	margin-bottom: .1em;
	background: rgba(58, 82, 116, 0.6);
}

header.header ul.sf-menu a{
	color: #fafafa;
	text-decoration: none;
}

header.header ul.sf-menu ul li{
	background-color: #162f50;
}

header.header ul.sf-menu li,
ul#superfish-advisory-menu li{
	background: none;
	/*float: right;*/
	height:2.5rem;
}

ul#superfish-advisory-menu li a{
	text-decoration: none;
	color: #fafafa;
	font-size: .85rem;
	padding: 0.75em .9em;
}
ul#superfish-main li:hover,
ul#superfish-main li li.sfHover,
ul#superfish-main li a:focus,
ul#superfish-main a:hover,
ul#superfish-main span.nolink:hover{
  background: #3a5274;
  color: #ffffff;
  outline: 0;
}

.wx-log-link {
  position: relative;
  top: -22px;
}

.right.tiny {
    float: right;
    font-size: .8rem;
		padding-right: 10px;
		height: 0px;
}

input#edit-field-northern-gallatin-precip-0-value,
input#edit-field-southern-gallatin-precip-0-value,
input#edit-field-northern-madison-precip-0-value,
input#edit-field-southern-madison-precip-0-value,
input#edit-field-lionhead-precip-0-value,
input#edit-field-bridgers-precip-0-value,
input#edit-field-cooke-city-precip-0-value{
	width: 140px;
}

input#edit-field-northern-gallatin-wind-0-value,
input#edit-field-southern-gallatin-wind-0-value,
input#edit-field-northern-madison-wind-0-value,
input#edit-field-southern-madison-wind-0-value,
input#edit-field-lionhead-wind-0-value,
input#edit-field-bridgers-wind-0-value,
input#edit-field-cooke-city-wind-0-value{
	
	width: 140px;
}

#edit-field-northern-gallatin-precip-wrapper,
#edit-field-southern-gallatin-precip-wrapper,
#edit-field-northern-madison-precip-wrapper,
#edit-field-southern-madison-precip-wrapper,
#edit-field-lionhead-precip-wrapper,
#edit-field-bridgers-precip-wrapper,
#edit-field-cooke-city-precip-wrapper{
	display: inline-block;
	padding-right: 6px;
	width: 25%;
}

#edit-field-northern-gallatin-wind-wrapper,
#edit-field-southern-gallatin-wind-wrapper,
#edit-field-northern-madison-wind-wrapper,
#edit-field-southern-madison-wind-wrapper,
#edit-field-lionhead-wind-wrapper,
#edit-field-bridgers-wind-wrapper,
#edit-field-cooke-city-wind-wrapper{
	display: inline-block;
	padding-left: 6px;
	width: 70%;
}

#edit-field-region-group-1-wrapper input.button.js-form-submit.form-submit{
	margin-bottom: 2rem;
}

.node-advisory-form #edit-field-region-group-1-wrapper tr{
	border-top: 2rem solid #d8dde4;
}

#node-accident-form #edit-field-date-0-value-time{
	display: none;
	/* relies on 'default date' beings set for this field. Other wise, an error will be thrown */
}

.right.tiny a{
    color: #fff;
}
/* 'Full Advisory' link and 'Wx and Avalanche Log' need a little different color */ 
ul#superfish-advisory-menu li#advisory-menu-menu-link-content8d4ea15d-971d-43c5-8d01-0ec2c8b1b3a4 a {
	
}

#advisory-menu-menu-link-content8d4ea15d-971d-43c5-8d01-0ec2c8b1b3a4 a{
	
}

ul#superfish-advisory-menu li a.is-active{
	color: #000;
}

ul#superfish-advisory-menu li a:hover{
	color: #162f50;
}


header.header ul.sf-menu li:hover, 
header.header ul.sf-menu li.sfHover, 
header.header ul.sf-menu a:focus, 
header.header ul.sf-menu a:hover, 
header.header ul.sf-menu span.nolink:hover,
{
	background: none;
	
	}
header.header ul.sf-menu li li:hover, 
header.header ul.sf-menu li li.sfHover,
header.header ul.sf-menu ul a:hover{
	background-color: #3a5274;
	
}

header.header{
	height: 118px;
	margin-bottom: 7px;
}

body:not(.is-path-frontpage)	header.header{
	background: transparent url('/images/gnfac-bg6.jpg') no-repeat scroll right -125px;
}

#block-herophotohomepage{
	height: 320px;
	background: transparent url('/images/gnfac-bg7.jpg') no-repeat scroll top center;
}

#block-gnfac-theme-branding{
	background: transparent url('/images/gnfac-diagonal.png') no-repeat scroll top left;
	position: absolute;
	top: 0px !important;
	height: 119px;
	/*z-index: 1000;*/
}

.field--name-field-audio-file audio{
	width: 225px;
	float: right;
	padding-left: 25px;
}

article .field--name-field-audio-file label{
	display: none;
}
#block-gnfacconnectblock{
	display: inline-block;
}


#block-gnfacconnectblock li{
	display: block;
}

#block-socialmedia-2{	
	text-align: center;
	background-color: #617490;
	padding-top: 4px;
	border-bottom: 2px solid #162f50;
}

#block-socialmedia img,
#block-socialmedia-2 img,
#block-socialmedia-3 img{
	height: 32px;
}

.node-advisory-edit-form #edit-title-wrapper{
	display: none;
}

.hazard-history .hazard-day:last-child {
    background-color: #bfc6d2;
		text-transform: uppercase;
}

#block-socialmedia a img:hover {
  opacity: 0.5;
}

.site-logo img{
	height: 85px;
	padding-left: 2px;
}

#block-notcurrentadvisoryblock h3{
	margin-bottom: .2rem;
	margin-top: 0px;
}
#block-mainnavigation-2 .sf-accordion-toggle{
	float: right;
}

footer article.profile{
	float: left;
	margin-right: 15px;
}

#node-snow-observation-form .filter-wrapper{
	display: none;
}

.edit-field-regions-similar-wrapper{
	float: right;
	width: 50%;
}

/* Begin formatting of weather station data tables 

   Also formatting for the weather log page, and the block that is shown on the sub-advisory pages
   we use class .view-weather-log to cover both the block and page,
   if we want to do any special formatting on these in one place or another, it will need a class selector the display id

*/

.view-weather-log table.views-table{
	margin-top: 0;
}

#cboxTitle {
  background: rgba(255, 255, 255, 0.8);
}
	
#nrcstabdata td,
#skiarea_tabdata td{
	padding:3px 5px 2px 5px;
	text-align:center;
	border-right: 1px solid #bfc6d2;
	font-size: .7rem; /* this is reset to normal size in media queryies below */
}

.view-weather-log td.views-field{
	padding:3px 5px 2px 5px;
	border-right: 1px solid #bfc6d2;
	font-size: .7rem; /* this is reset to normal size in media queryies below */
	line-height: .95rem;
	vertical-align: top;
}
#nrcstabdata td:first-child,
#skiarea_tabdata td:first-child,
.view-weather-log td.views-field:first-child,
#nrcstabdata th:first-child,
#skiarea_tabdata th:first-child,
.view-weather-log th.views-field:first-child {
  border-left: 1px solid #bfc6d2;  
}
#nrcstabdata tr:last-child,
#skiarea_tabdata  tr:last-child,
.view-weather-log tr:last-child{
    border-bottom: 1px solid #bfc6d2;
}

#nrcstabdata td,
#nrcstabdata th{
	width: 19%;
}

#nrcstabdata th,
#skiarea_tabdata th,
.view-weather-log th.views-field
{
	padding:3px 5px 2px 5px;
	text-align:center;
	background-color: #bfc6d2;
	color: #162f50;;
	font-size: .75rem;  /* this is reset to normal size in media queryies below */
}

#view-field-conditions-northern-table-column,
#view-field-conditions-southern-table-column{
	min-width: 90px;
	
}

.view-weather-log tr:nth-child(2n+1){
 background-color: #9da9ba;
	
}

#nrcstabdata tr.odd,
#skiarea_tabdata tr.odd{
	 background-color: #9da9ba;
}

#nrcstabdata tr.even,
#skiarea_tabdata tr.even{
	
}

/* End table data formatting from old styles.css */

#block-mainnavigation-2 div.sf-accordion-toggle a,
#block-advisorymenu div.sf-accordion-toggle a {
    background: #162f50;
    border: 1px solid #9da9ba;
    color: #fff;
    display: inline-block;
    padding: 1em 3em 1em 1em;
    position: relative;
}
#block-mainnavigation-2 ul.sf-menu.sf-accordion{
	background: #162f50;
}

#block-mainnavigation-2 li.sf-expanded{
	background-color: #9da9ba;
}

.webcam-image{
	height: 45px;
	vertical-align:middle;
	margin-right: 15px;
}

#google-map{
	width: 550px;
	height: 280px;
}

#edit-field-regions-similar-wrapper{
	width: 50%;
	float: right;
}

#edit-field-latitude-wrapper,
#edit-field-longitude-wrapper{
	float: right;
	margin-right:30px;
}

.view-staff-list .views-field-user-picture{ 
	vertical-align: top;
}

.view-staff-list .views-field-name{
	display: block;
	background-color: #617490;
	padding: 5px;
	color: white;
	font-size: 1.2rem;
}
.view-staff-list .views-field-field-biography {
	vertical-align: top;
	padding: 5px;
}

/*

//   Pay Payl buttons, css style


*/
 .paypal-button {
 width: 250px; //change width of button here
 height: 32px;
 color: #2e3192;
 text-decoration: none;
 display: block;
 text-align: center;
 position: relative;

 /* BACKGROUND GRADIENTS */
 background: #FEE1A5;
 background: -moz-linear-gradient(top, #FFF, #FEE1A5 50%, #FFB829 51%,
#FEE1A5 95%, #FEE1A5);
 background: -webkit-gradient(linear, left top, left bottom,
color-stop(0, #FFF), color-stop(.5, #FEE1A5), color-stop(.51, #FFB829),
color-stop(.95, #FEE1A5), color-stop(.96, #FEE1A5), to(#FEE1A5));

 /* BORDER RADIUS */
 -moz-border-radius: 18px;
 -webkit-border-radius: 18px;
 border-radius: 18px;

 border-bottom: 1px solid #FFF;
 border-top: 1px solid #FFB829;
 border-left: 1px solid #FEE1A5;
 border-right: 1px solid #FEE1A5;
 margin-top: 12px;

 /* TEXT SHADOW */

 text-shadow: 0px 1px 1px white;

 /* BOX SHADOW */
 -moz-box-shadow: 0 1px 3px #777;
 -webkit-box-shadow: 0 1px 3px #777;
 box-shadow: 0 1px 3px #777;
 font: italic bold 18px/32px helvetica, arial;
}

 /* WHILE HOVERED */
 .paypal-button:hover {
 background: #FEE1A5;
 background: -moz-linear-gradient(top, #FFF, #FEE1A5 50%,
#FFB829 51%, #FEE1A5 95%, #FEE1A5);
 background: -webkit-gradient(linear, left top, left bottom,
color-stop(0, #FFF), color-stop(.5, #FEE1A5), color-stop(.51, #FFB829),
color-stop(.95, #FEE1A5), color-stop(.96, #FEE1A5), to(#FEE1A5));
 -moz-box-shadow: 0 1px 2px black;
 -webkit-box-shadow: 0 1px 2px black;
 }

 /* WHILE BEING CLICKED */
 .paypal-button:active {
 -moz-box-shadow: 0 2px 6px black;
 -webkit-box-shadow: 0 2px 6px black;
}


@media screen and (min-width: 550px) {
	
	#nrcstabdata th,
	#skiarea_tabdata th,
	#nrcstabdata td,
	#skiarea_tabdata td{
		font-size: 1.0rem;
	}
	#block-gnfac-theme-branding .site-name {
		font-size: 1.2rem;
    display: inline-block;
	}	

	header.header{
		height: 120px;
	}
	body.is-path-frontpage main{
		margin-top: 15rem;
	}
	
	body > .layout-center{
		padding-left: 20px;
		padding-right: 20px;
	}
	.views-element-container .view-frontpage{
		background: #d8dde4;;
	}
	.site-logo img{
		height: 115px;
	}
	#block-gnfac-theme-branding{
		
	}
	.hazard-rating-container .regional-hazard-image{
		max-width: 450px;
	}
	.view-staff-list .views-field-user-picture{ 
		display: inline-block;
		width: 25%;
	}
	.view-staff-list .views-field-field-biography {
		display: inline-block;
		width: 74%;
	}
	.hazard-day img{
	}
}

@media screen and (min-width: 768px){
	.view-weather-log.view-display-id-block_1 td.views-field,
	.view-weather-log.view-display-id-block_1 th.views-field,
	.view-weather-log.view-display-id-page_1 td.views-field,
	.view-weather-log.view-display-id-page_1 th.views-field {
			font-size: 1rem;
			line-height: 1.3rem;
	}
	
	#view-field-conditions-northern-table-column,
	#view-field-conditions-southern-table-column{
		min-width: 150px;	
	}
	.hazard-day{
		font-size: 1.1rem;
		font-weight: bolder;
		color: #162f50;
		width: 19%;
	}
	.hazard-history{
		margin: 1rem 0;
	}
	
	.tombstone-container p {
	    font-size: 1rem;
	    line-height: 1rem;
	}

	#block-gnfac-theme-search{
	}
	#map{
		height: 450px;
		width: 100%;
	}

	#superfish-main{
		float: right;
		background-color: rgba(58, 82, 116, 0.6);
		margin-left: 170px;
	}

	#block-gnfac-theme-branding{
		display:inline-block;
	}
	
	#block-gnfac-theme-branding .site-name{
		font-size: 1.5rem;
	}
	
	body > .layout-center > .layout-3col{
		margin-right: 0px;
	}
	
	.discussion p{
		/*margin-left: 7.0rem;*/
	}
	
	a img.hazard-image {
		left: -172px;
	}
	
	/* or should these be 65% and 34% ? */
	.firsty{
		float:left;
		width: 65%;
	}

	.secondy{
		float:right;
		width: 34%;
	}
	
	.thirdy{
		float: left;
		width: 49%;
	}
	
	.fourdy{
	float: right;
	width: 50%;	
	}

	#block-advisorymenu h2{
	  display: inline-block;
	  float: left;
	  margin: 0;
	  font-size: 1rem;
	  vertical-align: middle;
	  color: #fafafa;
	  background-color: #162f50;
		padding: 0 8px;
		line-height: 2.5rem;
		font-size: .85rem;
	}
	#node-wx-log-form .field--type-string-long {
	    width: 19%;
	    display: inline-block;
	}
	.contact-info{
		margin-left: -120px;
		
	}
	.view-advisory-archive .views-field-field-weather-1{
		display: inline-block;
		width: 49%;
		vertical-align: top;
	
	}

	.view-advisory-archive .views-field-advisory-embed-all{
		display: inline-block;
		width:50%;
		vertical-align: top;
	}
	.jcarousel-skin-default .jcarousel-control-prev, .jcarousel-skin-default .jcarousel-control-next {



	    -webkit-border-radius: 30px;
	    -moz-border-radius: 30px;
	    border-radius: 30px;
	    -webkit-box-shadow: 0 0 2px #999;
	    -moz-box-shadow: 0 0 2px #999;
	    box-shadow: 0 0 2px #999;
	}

}

@media screen and (min-width: 999px){

	.jhmap {
	    width: 430px;
	    height: 420px;
			float: right;
	}

	.national-map{
		width: 50%;
		margin-top: 0;
		display: inline-block;
	}

	.home-ratings-image {
	    display: inline;
	}
	
	.contact-info{
		width: 245px;
		display: inline-block;
		vertical-align: top;
	}

}

@media screen and (max-width: 550px) {
    #block-gnfac-theme-branding .site-name{
        padding-top: 0px;
        width: 320px;
			/*	position: absolute;
				top: 0px;
				left: 80px;*/
    }
		
		
		body .layout-center header.header{
      background: transparent url('/images/gnfac-bg6.jpg') no-repeat scroll -320px -90px;
		}
		#block-mainnavigation-2{
			/*margin-top:3.5rem;*/
		}
		#block-gnfac-theme-branding{
			background: none;
			width: 130px;
		}

}

img.donate-image{
	float: right;
	padding-left: 20px;
}








